@page "/"

<PageTitle>Index</PageTitle>

<h1>Hola, Mundo!</h1>

Bienvendio el hombre que soporte la tentacion, porque cuando sea juzgado sera premiado con la corona de la vida.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="10" />